{% extends 'home.html' %}

{% block title %}Corresponding Students{% endblock %}

{% block content %}
<div class="m-4">
    <a href="{% url "students" %}" class="px-4 py-1 bg-red-600 rounded-lg">&lt; Back</a>
</div>
<div class="m-4 border border-gray-500 rounded-lg bg-gray-700">
    <h2 class="text-center text-xl p-1 underline">Corresponding Students</h2>
    <div class="px-4 pb-4 pt-1">
        <table class="w-full whitespace-nowrap">
            <thead class="h-8 w-full text-left text-gray-400 bg-gray-800">
                <tr>
                    <th class="pl-4">Student Name</th>
                    <th>Student Email</th>
                    <th>Parent Name</th>
                    <th>Parent Email</th>
                </tr>
            </thead>
            <tbody class="w-full leading-none text-white bg-gray-600 sm:text-sm md:text-md">
                {% for student in students %}
                    <tr class="h-14 w-full border-t-8 border-t border-gray-700">
                        <td class="pl-4">{{student.name|capfirst}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.parent_name|capfirst}}</td>
                        <td>{{student.parent_email}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}