{% extends 'home.html' %}

{% block title %}{{title}} List{% endblock %}

{% block content %}
<div class="m-4 p-4 pt-1 border border-gray-500 rounded-lg bg-gray-700">
    <h2 class="text-center text-xl p-1 underline">{{title|capfirst}} List</h2>
    {% if messages %}
        <div class="text-center text-red-500 py-1">
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if teachers %}
        <table class="w-full whitespace-nowrap">
            <thead class="h-8 w-full text-left text-gray-100 bg-gray-800">
                <tr>
                    <th class="pl-4">Teacher Name</th>
                    <th>Subject</th>
                    <th>Corresponding students</th>
                </tr>
            </thead>
            <tbody class="w-full leading-none text-gray-200 bg-gray-600 sm:text-sm md:text-md">
                {% for teacher in teachers %}
                    <tr class="h-14 w-full border-t-8 border-t border-gray-700">
                        <td class="pl-4">{{teacher.name|capfirst}}</td>
                        <td>{{teacher.subject|capfirst}}</td>
                        <td>
                            <a href="{% url "corresponding_students" teacher.id %}" class="bg-blue-700 hover:bg-blue-800 py-1 px-4 rounded">View students</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif students %}
        <table class="w-full whitespace-nowrap">
            <thead class="h-8 w-full text-left text-gray-400 bg-gray-800">
                <tr>
                    <th class="pl-4">Student Name</th>
                    <th>Parent Name</th>
                    <th>Corresponding Teachers</th>
                </tr>
            </thead>
            <tbody class="w-full leading-none text-white bg-gray-600 sm:text-sm md:text-md">
                {% for student in students %}
                    <tr class="h-14 w-full border-t-8 border-t border-gray-700">
                        <td class="pl-4">{{student.name|capfirst}}</td>
                        <td>{{student.parent_name|capfirst}}</td>
                        <td>
                            <a href="{% url "corresponding_teachers" student.id %}" class="bg-blue-700 hover:bg-blue-800 py-1 px-4 rounded">View teachers</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}